{% load static %}
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}" />
  </head>

  <body>
    <div id="content">{% block content %} {% endblock %}</div>
    <div id="sidebar">
      <h2>My weblog</h2>
      <p>This is my blog.</p>
    </div>
  </body>
</html>
